# Created by .ignore support plugin (hsz.mobi)
.DS_Store
.idea/
algorithms_base/__init__.pyc
algorithms_base/constant.pyc
algorithms_base/handler.pyc
algorithms_base/no_process.pyc
algorithms_contour/__init__.pyc
algorithms_contour/accurate_contour.pyc
algorithms_contour/contour_manager.pyc
algorithms_corner/__init__.pyc
algorithms_corner/corner_manager.pyc
algorithms_corner/harris_corner.pyc
algorithms_segmentation/__init__.pyc
algorithms_segmentation/adaptive_threshold.pyc
algorithms_segmentation/auto_threshold.pyc
algorithms_segmentation/manual_threshold.pyc
algorithms_segmentation/segmentation_manager.pyc
algorithms_smooth/__init__.pyc
algorithms_smooth/b_f_blur.pyc
algorithms_smooth/gaussian_blur.pyc
algorithms_smooth/joint_b_f_blur.pyc
algorithms_smooth/mean_blur.pyc
algorithms_smooth/media_blur.pyc
algorithms_smooth/smooth_manager.pyc
controllers/__init__.pyc
controllers/img_lab.pyc
models/__init__.pyc
models/img_operations.pyc
models/img_param.pyc
models/img_type.pyc
myenums/__init__.pyc
myenums/proc_code_enum.pyc
run.pyc
static/
templates/
util.pyc
